html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#navItem li a.active {
  color: #890393;
  font-weight: 700;
}

/* #navItem li a {
  background-color: red;
} */
